body {

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "SFProR";
  src: local("SFProR"),
   url('./Assets/Fonts/SFPro/SFProDisplay-Regular.ttf') format("truetype");
  font-weight: bold;
  }
@font-face {
  font-family: "SFProB";
  src: local("SFProN"),
   url('./Assets/Fonts/SFPro/SFProDisplay-Bold.ttf') format("truetype");
  font-weight: bold;
  }
@font-face {
  font-family: "SFProT";
  src: local("SFProT"),
   url('./Assets/Fonts/SFPro/SFProDisplay-Thin.ttf') format("truetype");
  font-weight: bold;
  }
@font-face {
  font-family: "SFProU";
  src: local("SFProU"),
   url('./Assets/Fonts/SFPro/SFProDisplay-Ultralight.ttf') format("truetype");
  font-weight: bold;
  }
@font-face {
  font-family: "SFProH";
  src: local("SFProH"),
   url('./Assets/Fonts/SFPro/SFProDisplay-Heavy.ttf') format("truetype");
  font-weight: bold;
  }

html, body, #app, #app>div {
  height: 100vh
}
